
<!DOCTYPE html>
<html>

<head>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'app.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/Bez nazwy2.png' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
        <style>*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-color: rgb(48, 48, 48);
            overflow-x: hidden;
            overflow-y: hidden;
        }</style>
        
    </head>
    <body>
        
        <div id="name">
            <p id="namep">Name</p>
        </div>
        <div class="c-all" id="c-all">
               
            <div class="c-item-c">
                <div class="c-item" style="justify-content: flex-start; ">
                    <p id="cname">Country: Poland <img src="https://flagcdn.com/w320/gt.png"></p>
                    
                </div>
                <div class="c-item" style="align-items: center; justify-content: flex-end;">
                    <a onclick="close_win_show()" href="javascript:void(0)">Close</a>
                </div>
            </div>
            <div class="c-item-d">
                <h5>Basic info:</h5>
                <p id="cpopulation">Population: </p>
                <p id="cregion">Region: </p>
                <p id="ccapital">Capital: </p>
                <p id="clanguages">Languages: </p>
    
                <h5>Geography</h5>
                <p id="ccontinents">On continents: </p>
                <p id="cmaps">Maps link: </p>
                <p id="carea">Landmass area: </p>
                <p id="ctimezones">Timezone(s): </p>
                <p id="ccapitalinfo">Capital placement: </p>
    
                <h5>International</h5>
                <p id="cunmember">Un member: </p>
                <p id="cborders">Bordering: </p>
                <p id="cindependent">Independent: </p>
    
                <h5>Internet</h5>
                <p id="ctld">Domain: </p>
                <p id="ccca3">Shortcut: </p>
                
                <h5>National</h5>
                <p id="ccarssigns">Cars signs: </p>
                <p id="ccarsside">Cars side: </p>
                <p id="ccurrencies">Currencies: </p>
            </div>
        </div>
        {% include 'worldmap.svg' %}
        <script src="{% static 'map.js' %}">
        </script>
        
    </body>
    
    </html>